
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #060a2f;
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #070c43;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  text-shadow: 0 0 30px #c503f6;

  transform: scale(5);
  color: rgb(198, 135, 198);
  font-size: 1.2rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;

  margin: 80px 0;
}
.firstSection > div {
  width: 33%;
}
.leftSection {
  font-size: 2.7rem;
  margin: 70px 0;
}
.rightSection img {
  width: 80%;
}
.purple {
  color: rgb(192, 139, 241);
}

.text-gray{
  color: gray;
}
.left:hover {
  color: #fff;
  text-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 5px #03e9f4,
    0 0 5px #03e9f4;
}
.left {
  font-size: 2em;
  font-weight: 5000;
  color: #f9f9f9;
  letter-spacing: 2px;
  cursor: pointer;

  transition: 0.5s;
}
#element {
  color: rgb(192, 139, 241);
}
.secondsection{
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
main hr{
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;

}
.secondsection h1{
  font-size: 1.9rem;

}
.secondsection .box{
  background: white;
  width: 77vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.secondsection .vertical{
  height: 93px;
  width: 2px;
  background-color: white;
  margin: 0 190px;
}
.image-top{
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}
.vertical-title{
  position: relative;
  top: 75px;
  width: 150px;

}
.vertical-desc{
  position: relative;
  top: 86px;
  color: gray;
  width: 150px;
  font-size: 13px;

}
.bottom-container{
    background-color:  #070c43;
    padding: 10px 0 10px;
}

.footer-link{
    color: #eff3f3 ;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration:none;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}
.footer-link:hover{

text-shadow: 0 0 30px #c503f6;
transform: scale(1.5);
color: rgb(198, 135, 198);
font-size: 1.01rem;
}
   
   .mydet{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

   }